
html {
    background: #e3e3e3;
}


header { 
    background: rgb(149, 205, 210);

}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}


#boing {
    background: #cae9d4;
    border-radius: 10px;
    padding: 20px;
   
}

#pop{
    background: #7fc4f5;
    border-radius: 10px;
    padding: 35px;
    
}

#boom{
    background: #e8bdbd;
    border-radius: 10px;
    padding: 40px;
    
}