<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>
</head>
html {
    background: #e3e3e3;
}


header { 
    background: rgb(149, 205, 210);

}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}


#boing {
    background: #e3d1d1;
    border-radius: 10px;
    padding: 20px;
   
}

#pop{
    background: #e3d1d1;
    border-radius: 10px;
    padding: 35px;
    
}

#boom{
    background: #e3d1d1;
    border-radius: 10px;
    padding: 40px;
    
}